<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unizar.aisolutions.aimovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">
        <provider
            android:name=".contentprovider.MoviesContentProvider"
            android:authorities="es.unizar.aisolutions.aimovie.contentprovider" />

        <activity
            android:name=".activity.MovieList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MovieEditor"
            android:label="@string/title_activity_movie_adder"
            android:parentActivityName=".activity.MovieList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.unizar.aisolutions.aimovie.activity.MovieList" />
        </activity>
        <activity
            android:name=".activity.MovieInfo"
            android:label="@string/title_activity_movie_info"
            android:parentActivityName=".activity.MovieList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.unizar.aisolutions.aimovie.activity.MovieList" />
        </activity>
        <activity
            android:name=".activity.UserInfo"
            android:label="@string/title_activity_user_info"></activity>
    </application>

</manifest>
